<link rel="stylesheet" href="/src/css/partials/sign-in.css">
<div class="sign-up">
    <div class="modal">
        <button type="button" class="data-button">
            <svg class="close-button">
                <use href=""></use>
            </svg> 
        </button>
            <div class="modal-input">
                <input id="user-name" name="user-name" type="text">
            </div>
                <div class="modal-input">
                    <input id="user-mail" name="user-mail" type="text">
                </div>
                    <div class="modal-input">
                        <input id="user-password" name="user-password" type="text">
                    </div>
                    <button type="button" class="btn-sign-up">SIGN UP</button>
    </div>
    
</div>